.list-of-country-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-list-con {
  display: flex;
  flex-wrap: wrap;
}

* {
  color: #ffffff;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

.btn-is-true {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 6px;
}

.no-content-view {
  text-align: center;
  color: #94a3b8;
  font-family: 'Roboto';
  margin-top: 50px;
}

.country-name-container {
  width: 60%;
  overflow-y: scroll;
  height: 200px;
}

.btn-is-false {
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 6px;
  cursor: pointer;
}
